
.track-cards {
    display: flex;
    justify-content: space-around;
}
.track-card {
    width: 29%;
    list-style: none;
    img {
        width: 100%;
        border-radius: 15px;
    }
    .answer-area {       
        padding: 5%;
        input {
            appearance: none;
        }
        label {
            cursor: pointer;
            transition: all 300ms ease;
            &:hover {
                color: pink;
                transform: scale(1.1);
            }
        }
    }
}